@charset "UTF-8";


/***********************
reset css
***********************/
*{
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}


/***********************
body
***********************/
body{
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}


/***********************
html
***********************/
html{
  scroll-behavior: smooth;
}


/****************************
PC
****************************/
/***********************
header
***********************/
header{
  display: flex;
  width: 1024px;
  justify-content: space-between;
  margin: 0 auto;
  height: 80px;
}
header h1{
  font-size: 26px;
  font-family: 'Kiwi Maru', serif;
  line-height: 80px;
}
li.gnav_sp{
  display: none;
}
.gnav ul{
  display: flex;
}
.gnav ul li a{
  display: inline-block;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
  font-family: 'Kiwi Maru', serif;
}
.gnav ul li a:hover{
  color: #392fc6;
  text-decoration: underline;
}


/***********************
main
***********************/
.mainvisual{
  height: 400px;
}
.mainvisual img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}


/********************
main全体設定
********************/
.container{
  width: 1024px;
  margin: 0 auto;
  padding: 50px 0;
}
main h2{
  font-size: 26px;
  font-family: 'Kiwi Maru', serif;
  border-left: 6px solid #333;
  padding-left: 10px;
  margin-bottom: 20px;
}
#works, #about, #skills{
  margin-bottom: 120px;
}


/********************
works
********************/
#works ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#works ul li{
  width: 30%;
}
#works ul li img:hover{
  position: relative;
  top: 2px;
  left: 2px;
  opacity: 0.8;
}
#works ul li p{
  text-align: center;
  margin: 15px;
  font-weight: bold;
}
#works ul li p:hover{
  color: #392fc6;
  text-decoration: underline;
}



/********************
skills
********************/
#skills ul{
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  border: 2px solid #79777759;
  margin-bottom: -3px;
}
#skills ul li{
  display: flex;
  width: 50%;
  /* border-right: 1px solid #79777759; */
  padding: 20px;
}
#skills ul li img{
  height: 50px;
  width: 50px;
}
#skills ul li p{
  padding-left: 10px;
  line-height: 1.5;
}
#skills ul li a{
  text-decoration: underline;
}
#skills ul li a:hover{
  color: #392fc6;
}
.skills_slack{
  margin-right: 8px;
}


/********************
about
********************/
.about_inner{
  display: flex;
  align-items: flex-start;
}
.about_inner p{
  padding-left: 50px;
  line-height: 1.7;
}


/***********************
footer
***********************/
footer{
  height: 50px;
  background-color: #79777759;
}
footer p{
  line-height: 50px;
  text-align: center;
}





/****************************
SP
****************************/
@media (max-width: 768px){
/***********************
html
***********************/
html {
  scroll-behavior: auto;
}


/***********************
header
***********************/
header{
  display: block;
  width: auto;
  /* justify-content: space-between; */
  /* margin: 0 auto; */
  /* height: 80px; */
}
header h1{
  font-size: 18px;
  /* font-family: 'Kiwi Maru', serif; */
  /* line-height: 80px; */
  padding-left: 20px;
}
.gnav{
  position: fixed;
  top: 0;
  left: 100%;
  background-color: #333333c4;
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: right;
  transition: 0.3s;
}
li.gnav_sp{
  display: block;
}
.gnav ul{
  display: block;
  margin: 50px 5px 0 0;
}
.gnav ul li a:hover{
  color: #fff;
  text-decoration: none;
}
.gnav.drawer{
  left: 0;
}


/***********************
main
***********************/
.mainvisual{
  height: 200px;
}


/********************
main設定
********************/
.container{
  width: auto;
  /* margin: 0 auto; */
  padding: 20px;
}
main h2{
  font-size: 18px;
  /* font-family: 'Kiwi Maru', serif; */
  border-left: 6px solid #333;
  padding-left: 6px;
  margin-bottom: 15px;
}
#works, #about, #skills{
  margin-bottom: 50px;
}


/********************
ハンバーガーメニュー
********************/
.burger{
  position: fixed;
  top: 20px;
  right: 15px;
  width: 50px;
  height: 30px;
  z-index: 1;
}
.burger span{
  position: absolute;
  height: 2px;
  width: 80%;
  background-color: #333;
  inset: 0;
  margin: auto;
}
.burger span:nth-child(2){
  top: 80%;
}
.burger.active span:nth-child(2){
  top: 0;
  transition: 0.5s;
  background-color: #fff;
}


/********************
works
********************/
#works ul{
  display: block;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
}
#works ul li{
  width: auto;
}
#works ul li p{
  /* text-align: center; */
  margin: 2px 0 50px;
  /* font-weight: bold; */
}


/********************
skills
********************/
#skills ul{
  display: block;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
}
#skills ul li{
  display: block;
  width: auto;
  /* border: 1px solid #79777759; */
  padding: 10px;
}
#skills ul li p{
  padding: 10px 0 0 0;
}


/********************
about
********************/
.about_inner p{
  padding-left: 20px;
  /* line-height: 1.7; */
}
}