@charset "UTF-8";


/***********************
reset css
***********************/
*{
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}


body{
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}


/****************************
PC
****************************/
.container{
  width: 1024px;
  margin: 0 auto;
}
/***********************
header
***********************/
header{
  position: relative;
  margin: 50px 0 80px;
  text-align: center;
}
a.back{
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 20px;
}
a.back:hover{
  text-decoration: underline;
  color: #392fc6;
}
header img:hover{
  position: relative;
  top: 2px;
  left: 2px;
  opacity: 0.8;
}


/***********************
main
***********************/
main{
  margin-bottom: 100px;
}
h1{
  font-size: 26px;
  letter-spacing: 0.02em;
}
h2{
  font-size: 22px;
  border-left: 6px solid #333;
  padding-left: 10px; 
  margin: 40px 0 10px 0;
}
p{
  line-height: 1.7;
}
a.figma, a.zoo{
  text-decoration: underline;
}
a.figma:hover, a.zoo:hover{
  color: #392fc6;
}
.wireframe{
  width: 500px;
  margin-top: 30px;
}
.wireframe img:hover{
  position: relative;
  top: 2px;
  left: 2px;
  opacity: 0.8;
}


/***********************
footer
***********************/
footer{
  height: 50px;
  background-color: #79777759;
}
footer p{
  line-height: 50px;
  text-align: center;
}





/****************************
SP
****************************/
@media(max-width: 768px){
.container{
  width: auto;
  /* margin: 0 auto; */
  padding: 0 20px;
}


/***********************
header
***********************/
header{
  position: relative;
  margin: 30px 0 60px;
  /* text-align: center; */
}
a.back{
  /* position: absolute; */
  /* top: 0px; */
  /* left: 0px; */
  font-size: 18px;
}
header img:hover{
  /* position: relative; */
  /* top: 2px; */
  /* left: 2px; */
  /* opacity: 0.8; */
  margin-top: 15px;
}


/***********************
main
***********************/
main{
  margin-bottom: 50px;
}
h1{
  font-size: 24px;
  /* letter-spacing: 0.02em; */
}
h2{
  font-size: 20px;
  /* border-left: 6px solid #333; */
  /* padding-left: 10px;  */
  /* margin: 40px 0 10px 0; */
}
.wireframe{
  width: auto;
  margin-top: 20px;
}
}